/* Bookie CSS - all styles HERE */

/* BODY STARTS */
/* If we want a sticky footer, this have to change this,
 can't have any padding. */
body {
	padding-top: 40px;
	padding-bottom: 40px;
	/*background-color: #FFF8DC; /* PAPER */
	/*background-color: #F8ECC2; /* PAPER */
	background-color: #ffffff; /* WHITE */
	/*background-color: #eee;*/
}
/* BODY ENDS */

/* FORM STARTS */
/* Some of this form CSS might not be need. It's
 from the sigin.html Bootstrap example */
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	text-align: center;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus {
	z-index: 2;
}
/* FORM ENDS */

/* Logout button */
.logout-btn {
	margin-top: 11px;
	margin-right: -7px;
	background-color: #ffffff; /* WHITE */
}

.form-control {
}
.input-group {
}

.input-group-lg {
}

.notes {
	margin-top: 4px;
	margin-right: 4px;
}

.btn-owe {
	width: 251px;
}

.btn-owe-check {
	width: 50px;
	margin-top: -0.5px;
}

/* Trying to set a height and width for the autocomplete for friend's list dropdown'*/
.ui-autocomplete {
	height: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.list-container{
	height: 50px;
	width: 190px;
}

.list-name{

}

.navbar-image {
	padding-right: 7px;
}

.friends-dropdownList{
	width: 200px;
	height: 50px;
}

.friends-dropdownList-Label
{
	width: 145px;
	float: right;
	font: Helvetica,Arial,sans-serif;
	font-size: 0.9em;
	font-weight: normal;
}

.friends-dropdownList-image
{
	width: 50px;
	height: 50px;
	float: left;
}

.ui-autocomplete {
    max-height: 200px;
    height: auto;
    border: 1px solid;
}

.ui-autocomplete-input{
	padding: 0px;
}

.ui-menu-item a {
	padding:0px;
	padding-bottom: 2px;
}

.ui-menu {
	border: 5px;
	padding: 1px;
	margin: 1px;
}

.ui-widget{
	border: 5px;
	padding: 1px;
	margin: 1px;
}


.ui-widget-content{
	border: 1px;
	padding: 1px;
	margin: 1px;
}

.ui-menu-item{
	border: 1px;
	padding: 1px;
	margin: 1px;
}

.ui-corner-all{
	border: 1px;
	padding: 0px;
	margin: 1px;
}

/*The CSS works fine for Firefox, but from some reason doesn't render dropdown properly in Chrome abd mobile browsers. Look into this in more detail*/

